
<h1>About Tizablog</h1>
<p>
  This is the <strong>Tizablog</strong> app. Is a blogging site built with <a href="http://rubyonrails.org/">
  the Rails framework. </a>for writing comments about web application, 
  and ideas. <i>Tizablog</i>  
