<h1>Help</h1>
<p>
  Get help on Tizablog at the
  <a href="http://railstutorial.org/help">Blogging Site help page</a>.
  To get help on this blogging app, see the
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>

